<h1>Welcome to {{title}}!</h1>

<utd-champ-form precision="Ne soyez pas timide et assumez-vous.">
    <utd-liste-deroulante>
        <label>Sélectionnez votre province canadienne préférée</label>
        <select id="select2a">
            <option value="AB">Alberta</option>
            <option value="BC">Colombie-Britannique</option>
            <option value="MB">Manitoba</option>
            <option value="NB">Nouveau-Brunswick</option>
            <option value="NL">Terre-Neuve-et-Labrador</option>
            <option value="NS">Nouvelle-Écosse</option>
            <option value="ON">Ontario</option>
            <option value="PE">Île-du-Prince-Édouard</option>
            <option value="QC">Québec</option>
            <option value="SK">Saskatchewan</option>
            <option value="NT">Territoires du Nord-Ouest</option>
            <option value="NU">Nunavut</option>
            <option value="YT">Yukon</option>
        </select>
    </utd-liste-deroulante>
</utd-champ-form>


<button type="button" class="utd-btn secondaire">Base</button>
<button type="button" class="utd-btn secondaire compact">Compact</button>
<button type="button" class="utd-btn secondaire arrondi">Arrondi</button>
<button type="button" class="utd-btn secondaire compact arrondi">Compact et arrondi</button>
<button type="button" class="utd-btn secondaire" disabled="">Inactif</button>

<utd-pied-page-site id="piedPageSite">
    <div slot="contenu">
        <span>Ici votre contenu de pied de page de site (C'est votre css qui devra le styler).</span>
    </div>
</utd-pied-page-site>
  